.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #6d0536;
  opacity: 0.7;
  color: antiquewhite ;
  font-weight: 700;
}

#footer p {
  margin: 0;
  font-size: 16px;
}


.tooltip {
  position: absolute;
  width: 10rem;
  height: 5rem;
  padding: 0.5rem;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  border: 0;
  border-radius: 10px;
  line-height: 1rem; /* spacing between text line */
  font-weight: bold;
  background: rgba(99, 64, 110, 0.87);
  border-radius: 1rem;
}

/* .axis-text {
  font-family: sans-serif;
  font-weight: bold;
  fill: #551aaf;
  text-anchor: middle;
} */

text.active {
  font-weight: bold;
  fill: #4130a5;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

text.inactive {
  font-weight: lighter;
  fill: #551aaf;
  transition: fill 11.0s ease-out;
  text-anchor: middle;
}

text.inactive:hover {
  fill: #e75480;
  cursor: pointer;
}

