/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: absolute;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 8rem;
}


#footer {
  position: absolute;
  bottom: 0;
  height: 6rem;
  width: 100%; 
  padding: 20px;
  text-align: center;
  background-color: #6d0536;
  opacity: 0.7;
  color: antiquewhite ;
  font-weight: 500;
  line-height: 0.5rem;
}


.footer1 {
  color: rgb(68, 212, 234);
  font-size: 20px;
}

.footer2 {
  font-size: 16px;
}

.footer3 {
  font-size: 17px;
  color: azure;
}


.tooltip {
  position: absolute;
  width: 10rem;
  height: 5rem;
  padding: 0.5rem;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  border: 0;
  border-radius: 10px;
  line-height: 1rem; /* spacing between text line */
  font-weight: bold;
  background: rgba(99, 64, 110, 0.87);
  border-radius: 1rem;
}


text.active {
  font-weight: bold;
  fill: #4130a5;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

text.inactive {
  font-weight: lighter;
  fill: #551aaf;
  transition: fill 11.0s ease-out;
  text-anchor: middle;
}

text.inactive:hover {
  fill: #e75480;
  cursor: pointer;
}

text.circLabel {
  display: inline;
  font-size: 10px;
  text-anchor: middle;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: aliceblue;
}

#author {
  font-size: 1.1rem;
  text-align: right;
}